body {
  background-image: url('https://i.imgur.com/CJWKjQT.jpg');
  background-color: rgba(248, 247, 255, 0.4);
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
}

/* Header  */

h1 {
  font-family: 'Monoton', cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

span {
  font-family: 'Monoton', cursive;
}

/* Input Box */

form {
  text-align: center;
}

input {
  padding: 10px;
  font-size: 20px;
  width: 60%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

button {
  padding: 10px;
  font-size: 20px;
  background-color: rgb(116, 169, 230);
  color: white;
  cursor: pointer;
}

/* Section Design  */

section {
  border-radius: 2%;
  margin-top: 30px;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Styling for Left Section */

#left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px;
  flex-direction: column;
  box-shadow: 5px 5px 50px #888888;
  flex: 1;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 4px auto;
  padding: 15px;
  color: rgb(73, 72, 72);
}

#town {
  font-size: 60px;
}

img {
  width: 80%;
  display: block;
  border: double rgb(165, 155, 155) 2px;
  border-radius: 1%;
  margin: 0 auto;
}

/* Styling for Right Section  */

#right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px;
  flex-direction: column;
  align-content: center;
  box-shadow: 5px 5px 10px #888888;
  flex: 1;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  text-align: center;
  line-height: 40px;
  margin: 5px auto;
  color: rgb(73, 72, 72);
}

#songToday {
  font-style: oblique;
  font-size: 50px;
  margin-bottom: 50px;
}

iframe {
  display: block;
  margin: 50px auto;
  border-radius: 1%;
  border: double rgb(165, 155, 155) 2px;
  width: 80%;
}

/* Modal Styling */

#modal {
  display: none;
  height: 100%;
  width: 100%;
  color: black;
  z-index: 1;
  overflow: auto;
}

#modal-textbox {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  width: 70%;
  border-radius: 2px;
  margin: 5px auto 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1%;
  line-height: 230%;
  font-family: 'Poppins', sans-serif;
}

h5 {
  text-align: center;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 20px;
  padding: 0px 15px 3px 15px;
}

#modal-footer {
  text-align: right;
}

#close {
  padding: 10px;
  background-color: rgb(115, 132, 160);
  border: none;
  outline: none;
  border-radius: 2px;
  color: white;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

@media (max-width: 600px) {
  h5 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
}

/* Footer styling */

footer {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  width: 100%;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: right;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.credits {
  font-size: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
}

a {
  color: rgb(51, 48, 48);
  text-decoration: none;
}

a:hover {
  color: rgb(115, 132, 160);
}

#page-container {
  position: relative;
  min-height: 100vh;
}
